body {background-color: beige;}

h1 {text-align: center;}

hr.line{ border-top: 3px solid;}

img {border: 2px solid black; float:left;}

p {font: size 12px;}

.name{ font-size: 20px; padding-left: 200px; padding-bottom: 200px;}
